<a href="https://colab.research.google.com/github/wilson921264/Desafio_1_Power_BI---DIO/blob/main/Python_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Versão da Linguagem Python
from platform import python_version
print('Versão da Linguagem Python Usada Neste Jupyter Notebook:', python_version())

Versão da Linguagem Python Usada Neste Jupyter Notebook: 3.10.12

Guia de Usuário do Pandas:

https://pandas.pydata.org/pandas-docs/stable/user_guide/index.html#user-guide

In [2]:
# Instala a versão exata do pacote
#!pip install -q pandas==1.5.3

In [3]:
import pandas as pd

In [4]:
pd.__version__

'2.0.3'

## Manipulando Dados em DataFrames do Pandas

In [5]:
# Cria um dicionário
dados = {'Estado': ['Santa Catarina', 'Rio de Janeiro', 'Tocantins', 'Bahia', 'Minas Gerais'],
         'Ano': [2004, 2005, 2006, 2007, 2008],
         'Taxa Desemprego': [1.5, 1.7, 1.6, 2.4, 2.7]}

In [ ]:
print(dados)

{'Estado': ['Santa Catarina', 'Rio de Janeiro', 'Tocantins', 'Bahia', 'Minas Gerais'], 'Ano': [2004, 2005, 2006, 2007, 2008], 'Taxa Desemprego': [1.5, 1.7, 1.6, 2.4, 2.7]}

In [6]:
# Importa a função DataFrame do Pandas
from pandas import DataFrame

In [7]:
# Converte o dicionário em um dataframe
df = DataFrame(dados)

In [ ]:
# Visualiza as 5 primeiras linhas
df.head()

In [ ]:
type(df)

In [ ]:
# Reorganizando as colunas
DataFrame(dados, columns = ['Estado', 'Taxa Desemprego', 'Ano'])

In [11]:
# Criando outro dataframe com os mesmo dados anteriores mas adicionando uma coluna
df2 = DataFrame(dados,
                columns = ['Estado', 'Taxa Desemprego', 'Taxa Crescimento', 'Ano'],
                index = ['estado1', 'estado2', 'estado3', 'estado4', 'estado5'])

In [ ]:
df2

In [ ]:
from matplotlib import pyplot as plt
df2['Taxa Desemprego'].plot(kind='hist', bins=20, title='Taxa Desemprego')
plt.gca().spines[['top', 'right',]].set_visible(False)

In [ ]:
df2.values

In [ ]:
df2.dtypes

In [ ]:
df2.columns

In [ ]:
# Imprimindo apenas uma coluna do Dataframe
df2['Estado']

In [ ]:
# Linguagem Python é case sensitive
# df2['estado']

In [ ]:
# Imprimindo apenas duas colunas do Dataframe
df2 [['Taxa Desemprego', 'Ano'] ]

In [ ]:
df2.index

In [ ]:
# Filtrando pelo índice
df2.filter(items = ['estado3'], axis = 0)

## Usando NumPy e Pandas Para Manipulação de Dados

In [ ]:
df2.head()

In [ ]:
df2.dtypes

In [ ]:
# Resumo estatístico do Dataframe
df2.describe()

In [ ]:
df2.isna()

In [ ]:
df2['Taxa Crescimento'].isna()

In [ ]:
# Importando o NumPy
import numpy as np

In [ ]:
# Usando o NumPy para alimentar uma das colunas do dataframe
df2['Taxa Crescimento'] = (1.2,3,5.0,6,8)
# ou  df2['Taxa Crescimento'] = np.arange(5.) -- montar como um range

In [ ]:
df2

In [ ]:
df2.dtypes

In [ ]:
df2['Taxa Crescimento'].isna()

In [ ]:
# Resumo estatístico do Dataframe
df2.describe()

## Slicing de DataFrames do Pandas

In [ ]:
df2

In [ ]:
df2['estado2':'estado4']

In [ ]:
df2[ df2['Taxa Desemprego'] < 2 ]

In [ ]:
df2['Taxa Crescimento']

In [ ]:
df2[['Estado', 'Taxa Crescimento']]

In [ ]:
df2[['Estado', 'Taxa Crescimento', 'Ano']]

## Preenchendo Valores Ausentes em DataFrames do Pandas

A função fillna() é usada para preencher os valores ausentes. A função oferece muitas opções. Podemos usar um valor específico, uma função agregada (por exemplo, média) ou o valor anterior ou seguinte.

Para esse exemplo usaremos a moda, a estatística que representa o valor que aparece mais vezes em uma variável.

In [ ]:
# Primeiro importamos um dataset
colab_df = pd.read_csv("dataset.csv")

In [ ]:
colab_df.head(5)

In [ ]:
colab_df.isna().sum()

In [ ]:
# Extraímos a moda da coluna Quantity
moda = colab_df['Quantidade'].value_counts().index[0]

A moda em Estatística é uma medida de tendência central que representa o valor mais frequente em um conjunto de dados.

A moda é especialmente útil quando queremos saber qual é o valor mais comum ou popular em um conjunto de dados, seja em uma distribuição unimodal (com apenas uma moda) ou em uma distribuição bimodal (com duas modas).

No entanto, a moda pode não ser tão representativa quanto outras medidas de tendência central, como a média e a mediana, especialmente em distribuições assimétricas ou quando há valores extremos. Por essa razão, é importante analisar diferentes medidas de tendência central e usar a que melhor se adequa aos objetivos da análise estatística.

In [ ]:
print(moda)

3.0

In [ ]:
# E por fim preenchemos os valores NA com a moda
colab_df['Quantidade'].fillna(value = moda, inplace = True)

C:\Users\Wilson\AppData\Local\Temp\ipykernel_12896\4239898850.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dsa_df['Quantidade'].fillna(value = moda, inplace = True)

In [ ]:
colab_df.isna().sum()

## Query (Consulta) de Dados no DataFrame do Pandas

Com o Pandas criamos dataframes, que são essencialmente tabelas. Como tal, podemos fazer consultas, ou simplesmente queries. E para isso usamos o método query(). Veja o exemplo abaixo:

In [ ]:
colab_df.head()

In [ ]:
# Checamos os valores mínimo e máximo da coluna Valor_Venda
colab_df.Valor_Venda.describe()

O intervalo de vendas (Valor_Venda) é de 0.44 a 22638. Vamos fazer uma consulta e retornar todas as vendas dentro de um range de valores. Fazemos isso com a instrução abaixo:

In [ ]:
# Geramos um novo dataframe apenas com o intervalo de vendas entre 229 e 10000
df2 = colab_df.query('229 < Valor_Venda < 10000')

In [ ]:
# Então confirmamos os valores mínimo e máximo
df2.Valor_Venda.describe()

In [ ]:
# Geramos um novo dataframe apenas com os valores de venda acima da média
df3 = df2.query('Valor_Venda > 766')

In [ ]:
df3.head()

Consulta executada com sucesso!

## Verificando a Ocorrência de Diversos Valores em Uma Coluna

Em nosso conjunto de dados de exemplo temos a coluna Quantidade que representa a quantidade de itens vendidos em cada uma das vendas. Imagine que precisamos saber em quais vendas foram vendidos 5, 7, 9 ou 11 itens.

Como aplicaríamos esse tipo de filtro ao nosso dataframe?

Fácil. O Pandas oferece o método isin() para checar diversos valores em uma coluna. Quem conhece Linguagem SQL já deve ter percebido que o método é o mesmo que a cláusula IN em SQL. Vamos ao exemplo.

In [ ]:
colab_df.shape

In [ ]:
# Então aplicamos o filtro
colab_df[dsa_df['Quantidade'].isin([5,7,9,11])]

Na instrução acima estamos filtrando o dataframe chamado df, retornando todas as linhas onde a coluna Quantidade for igual aos valores 5, 7, 9 ou 11. Passamos uma lista de valores como argumento para o método isin().

Vamos deixar um pouquinho mais divertido. Se você executou a instrução acima, percebeu que foram retornadas 2.128 linhas. E se quisermos retornar somente 10 linhas? É só fatiar o resultado assim:

In [ ]:
# Shape
colab_df[colab_df['Quantidade'].isin([5,7,9,11])].shape

In [ ]:
colab_df[colab_df['Quantidade'].isin([5,7,9,11])][:10]

## Operadores Lógicos Para Manipulação de Dados com Pandas

Os operadores lógicos são excelentes para filtrar dataframes e retornar exatamente os dados que precisamos para nosso trabalho. Para conhecer mais sobre as regras dos operadores lógicos, acesse aqui:

https://pt.wikipedia.org/wiki/Operador_l%C3%B3gico

Primeiro usaremos o operador lógico AND para checar duas condições. Serão retornados os registros quando as duas condições forem verdadeiras.

In [ ]:
# Filtrando as vendas que ocorreram para o segmento de Home Office e na região South
colab_df[ (colab_df.Segmento == 'Home Office') & (colab_df.Regiao == 'South') ].head()

Mas pode ser necessário checar duas condições e retornar os registros se pelo menos uma for verdadeira. Nesse caso usamos o operador OR, conforme abaixo.

In [ ]:
# Filtrando as vendas que ocorreram para o segmento de Home Office ou região South
colab_df[(colab_df.Segmento == 'Home Office') | (colab_df.Regiao == 'South')].tail()

O operador de negação é o contrário do primeiro exemplo.

In [ ]:
# Filtrando as vendas que não ocorreram para o segmento de Home Office e nem na região South
colab_df[(colab_df.Segmento != 'Home Office') & (colab_df.Regiao != 'South')].sample(5)

## Agrupamento de Dados em DataFrames com Group By

A função Pandas Groupby é uma função versátil e fácil de usar que ajuda a obter uma visão geral dos dados. Isso torna mais fácil explorar o conjunto de dados e revelar os relacionamentos entre as variáveis.

O código a seguir agrupará as linhas com base nas combinações Segmento/Regiao/Valor_Venda e nos dará a taxa média de vendas de cada grupo.

In [ ]:
# Aplicamos o group by
colab_df[['Segmento', 'Regiao', 'Valor_Venda']].groupby(['Segmento', 'Regiao']).mean()

Na instrução acima, primeiro filtramos os dados extraindo 3 colunas: ['Segmento','Regiao','Valor_Venda']. Na sequência, agrupamos por duas colunas: ['Segmento','Regiao']. E então calculamos a média para a coluna que ficou foram do group by, nesse caso a coluna Sales.

O comportamento do group by com Pandas é o mesmo observado na Linguagem SQL.

## Agregação Múltipla com Group By

Vamos explorar mais a função groupby() pois temos diversas opções de sumarização dos dados de forma simples. No exemplo abaixo uniremos a função groupby() com a função agg() para realiza agregação múltipla.

In [ ]:
# Aplicamos o group by
colab_df[['Segmento', 'Regiao', 'Valor_Venda']].groupby(['Segmento', 'Regiao']).agg(['mean', 'std', 'count'])

Na instrução acima, primeiro filtramos os dados extraindo 3 colunas: ['Segmento','Regiao','Valor_Venda']. Na sequência, agrupamos por duas colunas: ['Segmento','Regiao']. E então agregamos os dados calculando a média, desvio padrão e contagem de elementos para a coluna que ficou fora do group by, nesse caso a coluna Valor_Venda.

A função agg() recebe como argumento uma lista de funções para agregação.

## Filtrando DataFrame do Pandas com Base em Strings

O Pandas oferece diversas funções para manipulação de strings. Começaremos com o filtros de strings com base nas letras iniciais e finais.

In [ ]:
colab_df.head()

In [ ]:
# Filtramos o dataframe pela coluna Segmento com valores que iniciam com as letras 'Con'
colab_df[colab_df.Segmento.str.startswith('Con')].head()

In [ ]:
colab_df.Segmento.value_counts()

In [ ]:
# Filtramos o dataframe pela coluna Segmento com valores que terminam com as letras 'mer'
colab_df[colab_df.Segmento.str.endswith('mer')].head()

As funções startswith() e endswith() são muito úteis quando for necessário filtrar strings por caracteres que apareçam no começo e/ou final.

## Split de Strings em DataFrames do Pandas

Com Pandas podemos realizar diversas tarefas de split de strings dividindo uma coluna ou extraindo elementos do nosso interesse. Vamos ao exemplo!

In [ ]:
dsa_df.head()

,ID_Pedido,Data_Pedido,ID_Cliente,Segmento,Pais,Regiao,ID_Produto,Categoria,Nome_Produto,Valor_Venda,Quantidade
0,CA-2016-152156,2016-11-08,CG-12520,Consumer,United States,South,FUR-BO-10001798,Furniture,Bush Somerset Collection Bookcase,261.9600,NaN
1,CA-2016-152156,2016-11-08,CG-12520,Consumer,United States,South,FUR-CH-10000454,Furniture,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,NaN
2,CA-2016-138688,2016-06-12,DV-13045,Corporate,United States,West,OFF-LA-10000240,Office Supplies,Self-Adhesive Address Labels for Typewriters b...,14.6200,2.0
3,US-2015-108966,2015-10-11,SO-20335,Consumer,United States,South,FUR-TA-10000577,Furniture,Bretford CR4500 Series Slim Rectangular Table,957.5775,5.0
4,US-2015-108966,2015-10-11,SO-20335,Consumer,United States,South,OFF-ST-10000760,Office Supplies,Eldon Fold 'N Roll Cart System,22.3680,2.0

In [ ]:
colab_df['ID_Pedido'].head()

Este é o formato dos dados da coluna "ID_Pedido":

- CA-2016-152156
- US-2015-108966

Temos o país, o ano e o id do pedido. Vamos dividir essa coluna e extrair o ano para gravar em uma nova coluna:

In [ ]:
# Split da coluna pelo caracter '-'
colab_df['ID_Pedido'].str.split('-')

Observe que o resultado são as listas em Python. Para extrair o ano precisamos especificar o índice da posição que queremos extrair (em nosso caso a posição 2, logo, índice 1 em Python):

O Pandas é uma verdadeira caixa de ferramentas para manipulação de dados em Python.

# Fim